.chart{
    width:100%;
    height:100%;
    display: flex;
}
.chart .line-chart{
    width: 50%;
}
.chart .gaugh-container{
    width:50%;
}
.gauge-chart{
    display: flex;
    justify-content: center;
    padding: 20%;
}
.chart .gauge-text{
    float: left;
}
/* @media (max-width: 960px) {
    .chart {
        display: block;
        overflow: auto;
    }
    .chart .line-chart{
        width: 100%;
    }
    .chart .gaugh-container{
        width:100%;
    }
} */